{% extends "baseLayout.html" %}

{% block title %}
Checking Info   
{% endblock %}
{% block style%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{%block navContent%}
    <li class=""><a href="{{url_for('dashboard')}}">Dashboard<span class="sr-only">(current)</span></a></li>
    {%if role == 1%}
    <li class=""><a href="{{url_for('checkingInfo')}}">Checking Info<span class="sr-only">(current)</span></a></li>
    {%endif%}
    <li class=""><a href="{{url_for('posts')}}">Posts<span class="sr-only">(current)</span></a></li>
    {%if role == 2%}
    <li class="active"><a href="{{url_for('create_assignment')}}">Create Assignment<span class="sr-only">(current)</span></a></li>
    {%endif%}
    <li class=""><a href="{{url_for('assignments')}}">Update Scores<span class="sr-only">(current)</span></a></li>
    {%if role == 1%}
    <li class=""><a href="{{url_for('dropCourse')}}">Drop Course<span class="sr-only">(current)</span></a></li>
    {%endif%}
    <li class=""><a href="{{url_for('logout')}}">Logout<span class="sr-only">(current)</span></a></li>
{%endblock%}
{%block dashBlock%}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Create Assignment</h2><br>
            <div class="container card">
                <br>
                <form class="form" id="create_assign" method="post" action="/create_assignment">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.assignType) }}
                    {{wtf.form_field(form.course)}}
                    {{wtf.form_field(form.section)}}
                    {{wtf.form_field(form.assignment_No)}}
                    {{wtf.form_field(form.description)}}
                    {{wtf.form_field(form.dueDate)}}
                    <button class="btn btn-primary" type="submit">CREATE ASSIGNMENT</button>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementsByTagName("body")[0].onload = function(){
        var op = document.getElementById("select_course").getElementsByTagName("option");
        op[0].disabled = true;
    };
    document.getElementById("select_section").onclick = function(){
        sectionOptions = document.getElementById("select_section").getElementsByTagName("option");
        course = document.getElementById("select_course").value
        var optionsAsString = "";
        for (var i = 0; i < course.length; i++) {
            if(course[i]=="|"){
                break;
            }
            else{
                optionsAsString += "<option value='" + course[i] + "'>" + course[i] + "</option>";
            }
            removeAll(document.getElementById("select_section"));
        }
        function removeAll(selectBox) {
            for(let option of selectBox.options) {
                selectBox.remove(0);
            }
        }

        $( 'select[id="select_section"]' )  .append(optionsAsString);
    };

</script>
{%endblock%}